/* This file is for your main application css. */

/* @import "./phoenix.css"; */

.players {
  border: 1px solid black;
}
.role_wrap, .player {
  list-style-type: none;
}

.role_wrap {
  margin: 5px;
}